.main-content {
  display: flex;
  flex-direction: column;
}

.main-row {
  display: flex;
  flex-direction: row;

  // min-height: 30rem;
  height: 50rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
}

.room-info,
.map,
.player-list,
.command-line,
.joystick {
  border: 2px solid black;
  border-radius: 10px;

  min-height: 8rem;
  margin: 10px;
  padding: 0.5rem;
}

.map {
  width: 70%;
  display: flex;
  justify-content: center;
}

.room-info,
.player-list {
  width: 15%;
}

.joystick {
  width: 15%;
  background: black;
}

.command-line {
  width: 85%;
}
